<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TYP-O: India's first uncensored platform to write whatever there is in yor mind</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">

</head>

<body>

    <nav id="navbar">
        <div id="logo">
            <img src="../../assets/logo.png" alt="">
        </div>

        <ul id="options">
            <li id="choice"><a href="/">Home</a></li>
            <li id="choice"><a href="/users/login">Login</a></li>
            <li id="choice"><a href="/users/register">Register</a></li>
            <li id="choice"><a class="disabled" href="#" aria-disabled="true" id="choice">Articles</a></li>

        </ul>


    </nav>

    <div class="container mt-40" style="overflow-y: auto">
        <h1 class="mb-4" id="page-title">Welcome to Type-O!!!</h1>
        <div class="card" id="description">
            <h4>
                Type-O is one of india's top blog websites. Anyone from anywhere can write their opinion, analysis, and
                review about anything that happens around the world, be it politics, sports, pop-culture or anything.
                This website is totally uncensored and has been independent organization that runs without any sponsor.
                We totally depend upon you guys for our survival. So, do support us..

            </h4>

        </div>
        <div id="options" style="overflow-y: auto;">
            <a href="/users/register" class="btn btn-primary btn-block mb-2 mt-2">Register</a>
            <a href="/users/login" class="btn btn-success btn-block mb-3 mt-3">Login</a>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>


</html>