body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}
#home::before{
 
        width:580px;
        height: 1000px;
    

}

    #navbar::before
    {
        
        width: 100%;

    }
    #navbar
    {
        
        width: 600px; ;
    }
#description,.card-description,#home{
    font: size 1.2em ;
    text-shadow: 1px 1px 0.3px black;
     font-family: 'Roboto Mono', monospace;
    font-size: 1.0em;
    text-align: center;
    color: white;
}

    #page-title
    {
        font-size: 1.2em;
        text-shadow: 1px 1px 0.1px black;
    }
